@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CountryViewModel
@{ ViewBag.Title = "Countries"; }

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">CountryId</th>
            <th scope="col">Name</th>
            <th scope="col">Cities</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Country country in @Model.Countries)
        {
            <partial name="Country" model="@country" />}
    </tbody>
</table>

<form class="create-form" asp-controller="Countries" asp-action="CreateCountry" method="post">
    <div class="form-group">
        <label class="form-text" for="Name">CountryName:</label>
        <input class="form-control" type="text" name="countryName" value="" />

        @*<label class="form-text" for="CountryId">CityName:</label>
        <input class="form-control" type="text" name="cityName" value="" />*@

        <button class="btn btn-primary" type="submit" name="submit" value="Create">Create</button>
    </div>

</form>


