@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Personnel Management System</h3>
    <p>
        <a asp-area="" asp-controller="PeopleCMS" asp-action="Index">
            People_Control & Manage System (CMS)
        </a>
    </p>
    <p><img src="~/images/people.jpg"></p>
</div>
